/* Profile info display */

#profileInfo {
	display: block;
	width: 300px;
	padding: 5px;
	margin-right: 10px;
	flex-shrink: 0;

	background: white;
}

#profileInfo td {
	color: gray;
	font-weight: bold;
	text-align: left;
	padding-right: 1em;
	word-wrap: break-word;
}
#profileInfo td:first-child {
	text-align: right;
}

.avatarBox {
	width: 100%;
	height: 155px;
	position: relative;
}

.profileTop {
	margin: -5px;
	margin-bottom: -62px;
	background: #bbb;
	height: 95px;
}

.profileAvatar {
	float: left;
	margin-left: 10px;
	border: white solid 6px;
	background: white;
}

.profileName {
	font-size: 20px;
	font-weight: bold;
}

.onlineStatus {
	position: absolute;
	left: 98px; /*106 90*/
	top: 25px; /*17 33*/

	width: 24px;
	height: 24px;
	border: solid 4px white;
	border-radius: 100%;
}