/* Toast pop up message */

#toast {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 10px;
	cursor: pointer;
}

#toast:hover {
	background-color: #777;
}

#toast.show {
	visibility: visible;

	/* Add animation: Take 0.5 seconds to fade in and out the toast. 
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
	from {top: 0; opacity: 0;} 
	to {top: 10px; opacity: 1;}
}

@keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {top: 10px; opacity: 1;} 
	to {top: 0; opacity: 0;}
}

@keyframes fadeout {
	from {top: 10px; opacity: 1;}
	to {top: 0; opacity: 0;}
}